html {
    text-decoration: none;
    margin: 0;
    padding: 0;
    background-color: gray;
    font-family: 'Open Sans', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    max-width: 100%;
}
h1 {
  margin-right: 50px;
}
header {
    border-radius: 0px 30px 30px 0px;
    width: 20%;
    height: 100vh;
    z-index: 3;
    position: fixed;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: inline;
    justify-content: space-between;
}
.logo {
    font-size: 2vw;
    margin: 30px;
}
.logo a {
    color: white;
    text-decoration: none;
}
.menu {
    margin-bottom: 50%;
}
.menu a {
    padding: 25px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin-top: 50px;
}
  
.menu a:hover {
  color: #f1f1f1;
}
.copy {
  right: 0;
  font-size: 0.8vw;
  color: white;
  margin-left: 10px;
}

.main {
    display: flex;
    margin-bottom: 10px;
    border-radius: 30px 0 0 30px;
    width: 80%;
    height: 100vh;
    z-index: 1;
    margin-left: 20%;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
}
.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: gray;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 15px;
  height: 23px;
}


.active {
  background-color: black;
  color: white;
}


#mainname {
    text-align: center;
    font-size: 40px;
    margin-top: 10%;
    margin-bottom: 20px;
  }
  #mainname span {
    position: relative;
    justify-content: center;
    height: 100px;
    top: 0px;
    display: inline-block;
    animation: bounce 1s ease infinite alternate;
    font-size: 3vw;
  }
  #mainname span:nth-child(2){animation-delay: .1s;}
  #mainname span:nth-child(3){animation-delay: .2s;}
  #mainname span:nth-child(4){animation-delay: .3s;}
  #mainname span:nth-child(5){animation-delay: .4s;}
  #mainname span:nth-child(6){animation-delay: .5s;}
  #mainname span:nth-child(7){animation-delay: .6s;}
  #mainname span:nth-child(8){animation-delay: .7s;}
  #mainname span:nth-child(9){animation-delay: .8s;}
  #mainname span:nth-child(10){animation-delay: .9s;}
  #mainname span:nth-child(11){animation-delay: 1s;}
  #mainname span:nth-child(12){animation-delay: 1.1s;}
  #mainname span:nth-child(13){animation-delay: 1.2s;}
  @keyframes bounce {
    100%{
      top: -50px;
    }
  }
.introduce {
    width: 60%;
    height: 400px;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
    box-shadow: 0px 0px 10px 4px gray;
    color: black;
    margin: 0 auto;
    align-items: center;
    margin-top: 10%;
    
}
.face {
    width: 10vw;
    height: 17vw;
    margin: 50px;
}
.hi p {
  font-size: 1.5vw;
}
.content {
    display: inline-block;
    width: 80%;
    height: 100vh;
    z-index: 1;
    margin-left: 20%;
    background-color: rgb(240, 240, 240);
    border-radius: 30px 0 0 30px;
    margin-bottom: 10px;
}
#n {
  font-size: 3vw;
  margin-left: 10%;
  margin-top: 10%;
}
#b {
  font-size: 3vw;
  margin-left: 10%;
}
@media screen and (min-width: 770px) {
  #c {
    display: none;
  }
}
.pt {
    display: inline-block;
    height: 100vh;
    width: 80%;
    z-index: 1;
    margin-left: 20%;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
    border-radius: 30px 0 0 30px;
}
.ptb {
    position: relative;
    width: 170px;
    height: 220px;
    overflow:hidden;
    text-align:center;
    margin: 10px 3vw;
}
.ptbox {
  width: 100%;
}
.firstp {
    display: flex;
    text-align: center;
    justify-content: center;
}
.firstp p {
    font-size: 15px;
}
.secondp {
  display: flex;
  text-align: center;
  justify-content: center;
}
.secondp p {
  font-size: 15px;
}
.ptb img {
  width: 100%;
  height: 100%;
}
/* 모달1 */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 80%;
    overflow: scroll;
  }
  .modal-content button {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid black;
  }
  .modal-content a {
    text-decoration: none;
  }
  .modal-content a:visited {
    text-decoration: none;
    color: black;
  }
  #mcon {
    width: 100%;
  }
  .modal-content #if{
    margin: 20px;
    width: 20vw;
    height: 30vw;
  }
  .modal-content #is{
    margin: 20px;
    width: 50vw;
    height: 30vw;
  }
  .modal-content p {
    font-size: 1.5vw;

  }
  
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


  /* 모달 2 */
.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
/* Modal Content */
.modal-content2 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 70%;
  }
  
  /* The Close Button */
  .close2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close2:hover,
  .close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  /* 모달3 */
  .modal3 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
/* Modal Content */
.modal-content3 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 70%;
  }
  
  /* The Close Button */
  .close3 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close3:hover,
  .close3:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  /* 모달 4 */
  .modal4 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
/* Modal Content */
.modal-content4 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 70%;
  }
  
  /* The Close Button */
  .close4 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close4:hover,
  .close4:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  @media screen and (min-width: 770px) {
    .topnav {
      display: none;
    }
    .co {
      display: none;
    }
  }
  @media screen and (max-width: 770px) {
    #mainname span {
      font-size: 15vw;
    }
    header {
      display: none;
    }
    .topnav {
      z-index: 10;
      position: fixed;
      width: 100%;
    }
    .main {
      width: 100%;
      margin-left: 0;
      border-radius: 0;
    }
    #n {
      font-size: 25px;
      margin-left: 0;
      text-align: center;
    }
    #b {
      display: none;
    }
    #c {
      font-size: 25px;
      margin-top: 5%;
      text-align: center;
    }
    .content {
      width: 100%;
      margin-left: 0;
      display: inline-block;
      border-radius: 0;
    }
    .introduce {
      width: 90%;
      height: 80%;
      display: inline-block;
      justify-content: center;
      align-items: center;
      margin-left: 5%;
      margin-top: 20%;
    }
    .face {
      width: 30vw;
      height: 40vw;
      margin: 0 auto;
      margin-top: 10%;
      margin-bottom: 10%;
    }
    .hi {
      width: 100%;
    }
    .hi p {
      font-size: 17px;
      text-align: center;
    }
    .pt {
      width: 100%;
      margin-left: 0;
      display: inline-block;
      border-radius: 0;
      margin: auto 0;
      height: 95vh;
    }
    .ptbox {
      margin-top: 10vh;
    }
    .ptb {
      position: relative;
      width: 25vw;
      height: 30vw;
      overflow:hidden;
      text-align:center;
      margin: 5px 3vw;
    }
    .modal-content #if{
      margin: 20px;
      width: 30vw;
      height: 40vw;
    }
    .modal-content #is{
      margin: 20px;
      width: 70vw;
      height: 40vw;
    }
    .modal-content p {
      font-size: 3vw;
    }
    .firstp, .secondp {
      display: flex;
      justify-content: center;
    }
  }